doctype html
html(lang="ru")
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css' integrity='sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z' crossorigin='anonymous')
        title App
    body
        include ../includes/header

        div.container
            h1.text-center #{message}
            div.alert#errors
            form#register(method='POST' action='/auth/register')
                .form-group
                    label(for='name') Name
                    input#name.form-control(type='text' aria-describedby='emailHelp' placeholder='Enter name' name='name')
                .form-group
                    label(for='email') Email address
                    input#email.form-control(type='email' aria-describedby='emailHelp' placeholder='Enter email' name='email')
                .form-group
                    label(for='password') Password
                    input#password.form-control(type='password' placeholder='Password' name='password')
                .form-group
                    label(for='role') Role
                    select#role.form-control(name='role')
                        option(value='user') User
                        option(value='admin') Admin
                button.btn.btn-primary(type='submit') Submit
        include ../includes/footer