nav.navbar.navbar-expand-lg.navbar-light.bg-light
    #navbarSupportedContent.collapse.navbar-collapse.container
        ul.nav.navbar-nav.navbar-left
            li.nav-item
                a.nav-link(href='/')
                    | Главная
                    span.sr-only (current)
        ul.nav.navbar-nav.navbar-right
            if !user
                li.nav-item
                    a.nav-link(href='/auth/login') Вход
                li.nav-item
                    a.nav-link(href='/auth/register') Регистрация
            else
                if user.role == 'admin'
                    li.nav-item
                        a.nav-link(href='/admin') Админка
                li.nav-item
                    a.nav-link(href='/auth/logout') Выход