doctype html
html(lang="ru")
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css' integrity='sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z' crossorigin='anonymous')
        title App
    body
        include includes/header

        div.container
            h1.text-center #{message}
            div.alert#errors
            div.card
                div.card-body
                    form#orders(method='POST' action='/admin/addOrder')
                        .form-group
                            label(for='phone') phone
                            input#phone.form-control(type='tel' placeholder='Enter phone' name='phone')
                        .form-group
                            label(for='destination') message
                            input#destination.form-control(type='text' placeholder='Enter message' name='destination')
                        button.btn.btn-primary(type='submit') Submit
        include includes/footer